* {
  margin: 0; padding: 0;
  font-family: 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif;
}
a { text-decoration: none; }
img { border: 0; }
li { list-style: none; }
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
#main-header {
  padding: 10px 5px;
}
#main-header h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 27px;
  color: black;
}
#main-header ul {
  margin-top: 20px;
  margin-bottom: 10px;
}
#main-header li {
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-header li a {
  color: #555;
}